@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'Darkline';
    src: url(../assets/fonts/Darkline.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel Sans';
    src: url(../assets/fonts/sequel-sans-black-display.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-mais-clara: #F9FAFC;
    --cor-clara: #EBEEF3;
    --azul-branco: #E1E8F0;
    --cinza-claro: #B8C2CE;
    --cor-mais-escura: #262626;
    --fonte-logo: 'Darkline', sans-serif;
    --fonte-dmsans: 'DM Sans', sans-serif;
    --fonte-sequelsans: 'Sequel Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100vw;
}

header {
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.header__navbar{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;
}

.nav__logo {
    font-family: var(--fonte-logo);
    font-size: 2.6rem;
    color: black;
}

.nav__item{
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: var(--cor-mais-escura);
    flex: none;

}

.nav__search{
    border-radius: 6px;
}

.search__input{
    background-color: var(--cinza-claro);
    width: 6.25rem;
    height: 2.188rem;
    padding-right: 0.625rem;
    padding-left: 0.938rem;
}

.search__input::placeholder{
    color: #FFFFFF;
}

.texto__search{
    color: #FFFFFF;
}

.home__section {
    position: relative;
    text-align: center;
}

.home__h1 {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 435;
    font-size: 80px;
    line-height: 75px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #262626 0%, #B8C2CE 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 2rem;
    margin-left: 0;
    position: relative;
    z-index: 1;
    text-align: left;
}

.home__img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
}

.home__p,
.home__a {
    width: 365px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.home__p {
    margin-top: 250px;
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #262626;
}

.home__section a {
    margin-top: 20px;
}

.hoje__title{
    font-family: var(--fonte-dmsans);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-claro);
    background-color: var(--azul-branco);
    width: 89px;
}

.card {
    border: none;
    border-radius: 6px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 233px;
    object-fit: cover;
}

.card-img-overlay {
    background: linear-gradient(360deg, #F2F2F2 35.23%, rgba(242, 242, 242, 0) 100%);
    border-radius: 6px;
    z-index: 1;
    color: #262626;
    text-align: left;
}

.card-text {
    font-family: var(--fonte-dmsans);
    font-size: 10px;
    font-weight: 500;
    color: var(--cor-mais-escura);
    margin-bottom: 5px;
}

.card-title {
    font-family: var(--fonte-sequelsans);
    font-size: 16px;
    font-weight: 410;
    line-height: 20px;
    color: var(--cor-mais-escura);
}

#categorias h2 {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 415;
    font-size: 28px;
    line-height: 38px;
    color: var(--cor-mais-escura);
    text-align: left;
    margin-bottom: 30px;
}

#categorias .card-title {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 435;
    font-size: 32px;
    line-height: 75px;
    text-align: center; 
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--cor-mais-escura) 0%, #B8C2CE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto;
}

.card-img-below {
    width: 270px;
    height: 288px;
    object-fit: cover;
}

.card-img-above {
    width: 320px;
    height: 235px;
    object-fit: cover;
}

#mais-vistas h2 {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 415;
    font-size: 28px;
    line-height: 38px; 
    color: var(--cor-mais-escura); 
    text-align: left;
    margin-bottom: 20px; 
}

.imgs__3 {
    width: 234px;
    height: 150px;
    object-fit: cover;
}

.p__data {
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px; 
    color: var(--cor-mais-escura);
}

.h6__3 {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 415;
    font-size: 18px;
    line-height: 25px;
    color: var(--cor-mais-escura);
}

.p__txt3 {
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 400;
    font-size: 12px; 
    line-height: 15px;
    color: #696868;
}

#mais-vistas .tag {
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize; 
    color: var(--cor-clara); 
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid var(--cor-clara);
    border-radius: 3px;
    padding: 10px 10px;
}

#mais-vistas .card-img {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    object-fit: cover;
}

.p__data__cabelos {
    font-family: var(--fonte-dmsans);
    font-style: normal;
    font-weight: 400; 
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    
}

.h5__cabelos {
    font-family: var(--fonte-sequelsans);
    font-style: normal;
    font-weight: 435;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}